/* Load Spinner */
.spinner {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.313rem solid #f3f3f3;
  border-top: 0.313rem solid #dbd030;
  border-radius: 50%;
  animation: spinnerSpin 1s linear infinite;
  margin: 1.25rem auto;
  position: fixed;
  z-index: 1;
  top: 25rem;
}

/* Keyframes for animations */

@keyframes spinnerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes borderSpin {
  to {
    --angle: 360deg;
  }
}

/* Property for gradient border effect */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* "click me" link hover effect */

a {
  color: #ffcc00;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: #ffcc00;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
