/* CARDS */

#cards {
  display: grid;
  grid-template-columns: repeat(4, 12.5rem);
  gap: 1.25rem;
  padding: 1.25rem;
  justify-content: center;
  margin: 0 auto 18.75rem auto;
}

.card {
  color: whitesmoke;
  cursor: pointer;
}

.card p {
  max-height: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 5/7;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  display: block;
  filter: drop-shadow(0rem 0rem 1.875rem rgba(255, 255, 255, 0.2));
}

/* HERO SECTION */

#hero {
  width: 75rem;
  overflow: hidden;
  border-radius: 1.563rem;
  margin-bottom: 1.563rem;
}

/* Animated cards */
#saved_cards_viewport {
  width: min(90%, 75rem);
  margin: 0 auto;
  overflow: hidden;
}

#saved_cards {
  display: flex;
  justify-content: center;
  gap: 0.938rem;
  width: max-content;
  overflow: hidden;
}

/* Hiding title and buttons for the animated cards. */
#saved_cards p {
  opacity: 0;
}

#saved_cards .remove_btn {
  pointer-events: none;
  opacity: 0;
  cursor: not-allowed;
}

/* Static cards */

#saved_cards_static {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.saved_card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;

  .saved_card:hover {
    transform: scale(1.2);
    z-index: 99;
  }
}

.saved_card img {
  width: 100%;
  max-width: 12.5rem;
  height: auto;
  aspect-ratio: 5/7;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  display: block;
  filter: drop-shadow(0rem 0rem 1.875rem) rgba(255, 255, 255, 0.2);
}

/* #hero_card {
} */
