/* BUTTON */

button {
  position: relative;
  z-index: 1;
  padding: 0.563rem 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  background: linear-gradient(#e2bd45, #9b7415);
  font-weight: bolder;
  font-size: 0.938rem;
  width: 15rem;
}

#load_btn {
  margin-right: 0.313rem;
  margin-top: 0.938rem;
}

button:hover {
  box-shadow: 0 0 0.938rem rgba(245, 199, 66, 0.5);
}

/* Button for cards */
.remove_btn {
  display: flex;
  font-size: 0.75rem;
  height: 1.875rem;
  width: 3.125rem;
  text-align: center;
  justify-content: center;
}

button.remove_btn {
  margin: auto;
}

/* Toggle section */
.content_wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  overflow: hidden;
}

.content_wrapper.open {
  grid-template-rows: 1fr;
}

.inner-content {
  min-height: 0;
}

.toggle-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.toggle_header_row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}
.arrow_toggle {
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;

  background-color: #ffcc00;
  transition: transform 0.3s ease;

  -webkit-mask: url("../icons/arrow_down.svg") no-repeat center / contain;

  mask: url("../icons/arrow_down.svg") no-repeat center / contain;
}

/* Filter bar */

#filterBar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.01rem;
  box-sizing: border-box;
}

.filter_bar {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 0.2s ease,
    max-width 0.3s ease,
    visibility 0.3s;
}

.filter_title {
  appearance: none;
}

.filter_chip {
  justify-content: center;
  position: relative;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  width: 6.25rem;
}

.collapsible_container {
  text-align: center;
}

.collapsible_container.is-active .arrow_toggle {
  transform: rotate(180deg);
}

.collapsible_container.is-active .filter_bar {
  opacity: 1;
  visibility: visible;
  max-width: 75rem;
  gap: 1.875rem;
}

button.filter_chip {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  border-radius: 0.5rem;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
}

button.filter_chip::after {
  cursor: pointer;
  content: "";
  position: absolute;
  inset: 0.063rem;
  background: #111;
  border-radius: 0.5rem;
  z-index: -1;
}

button#submit_btn {
  grid-column: span 2;
  width: 83%;
}
