/* BUTTON */

button {
  margin-right: -82px;
  position: relative;
  z-index: 1;
  padding: 9px 80px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background: linear-gradient(#e2bd45, #9b7415);
  font-weight: bolder;
  font-size: 15px;
  width: 240px;
}

#load_btn {
  margin-right: 5px;
  margin-top: 15px;
}

button:hover {
  box-shadow: 0 0 15px rgba(245, 199, 66, 0.5);
}

/* Button for cards */
.remove_btn {
  display: flex;
  font-size: 12px;
  height: 30px;
  width: 50px;
  text-align: center;
  justify-content: center;
}

button.remove_btn {
  margin: auto;
}

/* Toggle section */
.content_wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  overflow: hidden;
}

.content_wrapper.open {
  grid-template-rows: 1fr;
}

.inner-content {
  min-height: 0;
}

.toggle-btn {
  padding: 8px 16px;
  cursor: pointer;
}

.toggle_header_row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.arrow_toggle {
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;

  background-color: #ffcc00;
  transition: transform 0.3s ease;

  -webkit-mask: url("../icons/arrow_down.svg") no-repeat center / contain;

  mask: url("../icons/arrow_down.svg") no-repeat center / contain;
}

/* Filter bar */

#filterBar {
  margin-left: 100px;
  width: 770px;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: -28px; */
}

.filter_bar {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 0.2s ease,
    max-width 0.3s ease,
    visibility 0.3s;
}

.filter_title {
  font-size: 0.9rem;
  color: #666;
}

.filter_chip {
  justify-content: center;
  position: relative;
  padding: 4px 12px;
  font-size: 0.8rem;
  width: 100px;
}

.collapsible_container {
  text-align: center;
}

.collapsible_container.is-active .arrow_toggle {
  transform: rotate(180deg);
}

.collapsible_container.is-active .filter_bar {
  opacity: 1;
  visibility: visible;
  max-width: 1200px;
  gap: 30px;
}

button.filter_chip {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  border-radius: 8px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button.filter_chip::after {
  cursor: pointer;
  content: "";
  position: absolute;
  inset: -1px;
  background: #111;
  border-radius: 8px;
  z-index: -1;
}
