/* Desktop */
@media (max-width: 64rem) {
  form#search {
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    width: 100%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    margin-top: 6.25rem;
    display: grid;
    grid-template-columns: repeat(3, 12.5rem);
    gap: 1.25rem;
    padding: 1.25rem;
    box-sizing: border-box;
    margin-bottom: 18.75rem;
  }
  button#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
  }
  .spinner {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.313rem solid #f3f3f3;
    border-top: 0.313rem solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 1.25rem auto;
    position: fixed;
    z-index: 1;
    top: 33.125rem;
  }
  #saved_cards_viewport {
    width: 60%;
  }
  #saved_cards_static {
    display: flex;
    flex-wrap: wrap;

    width: 60%;
    margin-top: 1.25rem;
  }
}

/* Tablet */
@media (max-width: 48rem) {
  form#search {
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    width: 100%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    gap: 1.25rem;
    padding: 1.25rem;
    box-sizing: border-box;
    margin-bottom: 18.75rem;
  }
  button#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
  }
  .spinner {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.313rem solid #f3f3f3;
    border-top: 0.313rem solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 1.25rem auto;
    position: fixed;
    z-index: 1;
    top: 33.125rem;
  }

  #saved_cards_viewport {
    width: 60%;
  }
  #saved_cards_static {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 60%;
    margin-top: 1.25rem;
  }
}
