/* Desktop */
@media (max-width: 64rem) {
  form#search {
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    width: 100%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    margin-top: 6.25rem;
    display: grid;
    grid-template-columns: repeat(3, 12.5rem);
    gap: 1.25rem;
    padding: 1.25rem;
    box-sizing: border-box;
    margin-bottom: 18.75rem;
    justify-content: center;
  }
  button#submit_btn {
    grid-column: span 2;
    width: 100%;
    padding: 0.75rem;
  }
  .spinner {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.313rem solid #f3f3f3;
    border-top: 0.313rem solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 1.25rem auto;
    position: fixed;
    z-index: 1;
    top: 33.125rem;
  }

  #hero {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
#saved_cards_viewport {
  box-sizing: border-box;
  width: 100%;
}
#saved_cards_static {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 1.25rem;
  box-sizing: border-box;
}

/* Tablet */
@media (max-width: 48rem) {
  form#search {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 80%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    gap: 1.25rem;
    padding: 1.25rem;
    box-sizing: border-box;
    margin-bottom: 18.75rem;
    justify-content: center;
  }
  button#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .spinner {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.313rem solid #f3f3f3;
    border-top: 0.313rem solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 1.25rem auto;
    position: fixed;
    z-index: 1;
    top: 33.125rem;
  }

  #title {
    width: 80%;
  }

  #hero {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  #filterBar {
    width: 100%;
    margin-left: -7rem;
    box-sizing: border-box;
  }

  #saved_cards_viewport {
    width: 100%;
    box-sizing: border-box;
  }
  #saved_cards_static {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
    margin-top: 1.25rem;
    box-sizing: border-box;
  }
}

/* Mobile */
@media (max-width: 30rem) {
  form#search {
    grid-template-columns: 1fr;
    width: 100%;
  }

  #hero {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .filter_bar {
  }

  #filterBar {
    overflow: visible;
    justify-content: center;
    gap: 0.001rem;
    margin: 0.5rem 0;
  }

  .filter_chip {
    flex: 0 0 auto;
    min-width: 5.5rem;
  }

  select#commander {
    margin-left: 0.1rem;
    transform: none;
    width: 100%;
  }

  img {
    width: 100%;
  }

  #cards {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
  }

  button#submit_btn {
    width: 100%;
  }

  #full_search {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem auto;
  }

  #saved_cards {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
  }

  #saved_cards_static {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    place-items: center;
  }

  #saved_cards_viewport,
  #saved_cards_static {
    width: 100%;
    box-sizing: border-box;
  }

  select,
  input {
    width: 100%;
  }
}
