/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: radial-gradient(
    circle at top,
    #3d3d3d 0%,
    #0b0b0b 65%,
    #000000 100%
  );
  background-color: #000000;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: whitesmoke;
  min-height: 100vh;
}

p {
  font-family: "Beleren", "Matrix", "Georgia", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 25px;
}

/* TITLE */
#title {
  font-family: "Beleren", "Matrix", "Georgia", serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* Gradient text fill */
  background: linear-gradient(to bottom, #ffee88 0%, #ffcc00 50%, #bb8800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Shadow for depth and pop */
  filter: drop-shadow(3px 3px 0px #000) drop-shadow(-1px -1px 0px #000)
    drop-shadow(1px -1px 0px #000) drop-shadow(-1px 1px 0px #000);
}

/* SEARCH / INPUT FIELD */
form {
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-height: 70px;
}

input {
}

select {
}

label {
}

#full_search {
  /* width: 90%; */
  max-width: 1400px;
  margin: 70px auto 30px;
  padding: 30px;
  background: rgba(15, 15, 15, 0.85);
  border: 1px solid #555;
  border-radius: 12px;
  box-shadow:
    0 0 20px rgba(0, 0, 0, 0.8),
    inset 0 0 20px rgba (255, 255, 255, 0.03);
}

/* CARDS */

#cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.card {
  color: whitesmoke;
}

.card p {
  max-height: 16px;
  overflow: hidden;
}

.card img {
  width: 200px;
  height: 280px;
  aspect-ratio: 5/7;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0 4px 8px rgba (0, 0, 0, 0.3);
  display: blocK;
}

/* SPINNER */

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #dbd030;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NEW ISSUE! */
/* Cards with double face has a long name. Need to ignore "// *cardName* from p or make more space without p pushing content further down.*/
/*  */
