/* Property for gradient border effect */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL SETTINGS */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: radial-gradient(
    circle at top,
    #3d3d3d 0%,
    #0b0b0b 45%,
    #000000 100%
  );
  background-color: #000000;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: whitesmoke;
  min-height: 100vh;
}

p {
  font-family: "Beleren", "Matrix", "Georgia", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 25px;
  z-index: 1;
}

a {
  color: #ffcc00;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffcc00;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

span {
  padding: 10px;
}

/* TITLE */
#title {
  margin-top: 25px;
  font-family: "Beleren", "Matrix", "Georgia", serif;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* Gradient text fill */
  background: linear-gradient(to bottom, #ffee88 0%, #ffcc00 50%, #bb8800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Shadow for depth and pop */
  filter: drop-shadow(3px 3px 0px #000) drop-shadow(-1px -1px 0px #000)
    drop-shadow(1px -1px 0px #000) drop-shadow(-1px 1px 0px #000);
}

/* SEARCH / INPUT FIELD */
form {
  padding: 15px;
  display: grid;
  grid-template-columns:
    1fr
    1fr
    1.5fr
    1.5fr
    1fr
    80px;
  align-items: end;
  gap: 5px;
  min-width: 880px;
  max-width: 880px;
}

form#search {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 14px;
}

form#search:before {
  content: "";
  position: absolute;
  inset: 0%;
  background: conic-gradient(
    from var(--angle),
    transparent 0deg,
    transparent 35deg,
    #ffcc00 60deg,
    transparent 100deg
  );
  animation: borderSpin 8s linear infinite;
  z-index: -2;
}

form#search::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #111;
  border-radius: 11px;
  z-index: -1;
}

input,
select {
  appearance: base-select;
  background: #151515;
  color: white;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1rem;
  z-index: 5;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 176px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #d4af37;
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.5);
}

input#commander,
select#commander {
  width: 100px;
  margin-left: -25px;
}

label {
  font-size: 1.1rem;
  padding-bottom: 10px;
  width: 90px;
}

#full_search {
  margin: 10px auto 30px;
  background: rgba(15, 15, 15, 0.85);
  box-shadow:
    0 0 20px rgba(0, 0, 0, 0.8),
    inset 0 0 20px rgba(255, 255, 255, 0.03);
  border: 1px solid #555;
  border-radius: 12px;
}

/* BUTTON */

button {
  margin-right: -82px;
  position: relative;
  z-index: 1;
  padding: 9px 80px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background: linear-gradient(#e2bd45, #9b7415);
  font-weight: bolder;
  font-size: 15px;
  width: 240px;
}

#load_btn {
  margin-right: 5px;
}

button:hover {
  box-shadow: 0 0 15px rgba(245, 199, 66, 0.5);
}

/* CARDS */

#cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 300px;
}

.card {
  color: whitesmoke;
}

.card p {
  max-height: 16px;
  overflow: hidden;
}

.card img {
  width: 200px;
  height: 280px;
  aspect-ratio: 5/7;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: block;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.2));
}

/* SPINNER */

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #dbd030;
  border-radius: 50%;
  animation: spinnerSpin 1s linear infinite;
  margin: 20px auto;
  position: fixed;
  z-index: 1;
  top: 320px;
}

/* Media Querie and keyframes */

@media (max-width: 1000px) {
  form#search {
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    width: 100%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 300px;
  }
  button#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 20px auto;
    position: fixed;
    z-index: 1;
    top: 520px;
  }
}

@media (max-width: 600px) {
  form#search {
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    width: 100%;
  }
  select#commander {
    width: 100%;
    transform: translatex(1.55rem);
  }
  #cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 300px;
  }
  button#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #dbd030;
    border-radius: 50%;
    animation: spinnerSpin 1s linear infinite;
    margin: 20px auto;
    position: fixed;
    z-index: 1;
    top: 520px;
  }
}

@keyframes spinnerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes borderSpin {
  to {
    --angle: 360deg;
  }
}
